
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Contact Us</h2>
<h3>
    If you need more information
    please contact us at email: procfvu2012@gmail.com
</h3>
