
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Đơn Hàng Của Quý Khách Đã Được Chúng Tôi Ghi Nhận . Chúng Tôi Sẽ Liên Hệ Quý Khách Trong Thời Gian Sớm Nhất. Cảm Ơn Quý Khách Đã Tin Tưởng và Mua Sản Phẩm Của Shop</h3>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Laptop")
</p>


